/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px){
    .topbar__menu ul.main-menu li:not(:first-child) {
        display: none;
    }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px){
    .topbar__menu ul li a, .topbar__menu ul li img{
        display: none;
    }
    .car{
        display: block !important;
    }  
    
}
